{% extends "base.html"%}

{% load compressed %}
{% load static %}

    {% block navigation %}
    <ul class="nav">
        <li id="search-on-map">
            <a href="/"><i class="icon-search icon-white"></i> Pretraži kartu</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/o_projektu">O projektu i kako se uključiti</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/kontakt" class="active">Kontakt</a>
        </li>
    </ul>
    {% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="offset3 span6" style="text-align: justify;">

<h1>ŠTO JE SUHOZID.HR?</h1>

<p>
<strong>Suhozid.hr je otvoreni javni popis hrvatske suhozidne baštine. Osmislili su i vode ga aktivisti sa hrvatske suhozidne i geoinformacijske scene. Trenutno ga iskušavamo, pridružite nam se!</strong>
</p>
<p>
Popis je otvoren za svaki prinos koji proširuje ili produbljava sliku suhozidnih fenomena i njihovog rasprostiranja duž istočne obale Jadrana i njena zaleđa. Zanima nas svaki zid, svaka građevina, svako naselje koje je u svom ambijentu zadržalo elemente gradnje usuho, svaki krajolik sa svojom kamenom čipkom i točkama-vidikovcima sa kojih ga možemo doživjeti. Zanimaju nas i ostali tragovi čovjekovog korištenja prostora, kao što su kapelice, mirila, stećci i drugi kameni biljezi, bunari, lokve, ostaci vapnenica i drevni putevi.
</p>
<p>
U prvoj godini rada popisa glavna funkcionalnost bit će unošenje suhozidnih lokaliteta. Kako projekt bude rastao, postati će moguće raditi razna pretraživanja i analize, primjerice po vrstama građevina, statusu zaštite, prostornim jedinicama, određenim tematskim grupama, i tako dalje. Pozivamo zainteresirane da idejom ili komentarom doprinesu što funkcionalnijem popisu.
</p>

<h2>KAKO MOGU SUDJELOVATI U SUHOZID.HR?</h2>
<p>
<strong>Slanjem fotografije sa točnom lokacijom neke suhozidne građevine ili ambijenta.</strong> Uz fotografiju su dobrodošli i razni podaci, a pogotovo lokalni nazivi, skice sa dimenzijama, podaci o graditeljima i nastanku, te nekadašnjim i današnjim korisnicima.
</p>
<p>
Nije bitno je li lokalitet već unesen u popis, ponekad neka nova fotografija ili podatak može otkriti do sada nepoznatu a vrijednu činjenicu o našem prostoru i njegovim graditeljima.
</p>
<h3>1) E-MAIL:</h3>
<p>
Pošalji geotagiranu fotografiju ili fotografiju sa oznakom na karti na adresu popis@suhozid.hr.
</p>

<h3>2) ANDROID APLIKACIJA:</h3>
<p>
Sa Google Play Store skini aplikaciju ODK Collect.
</p>
<p>
Nakon pokretanja aplikacije u postavkama namjesti
</p>
<p>
<code>URL: http://suhozid.geof.unizg.hr/ODKAggregate.</code>
</p>
<p>
Nakon toga skini aktualan formular za unos. Trenutno su dostupna su dva formulara, <strong>easy</strong> za brzi unos fotografija, i <strong>fanatic</strong> koji ima mogućnost unosa dodatnih podataka (naslov, opis, osnovne dimenzije građevine, kontakt za posjetitelje itd.) Skini oba formulara nek se nađu!
</p>
<p>
<code>Get Blank Form > SUHOZID-2013.03-easy SUHOZID-2013.03-fanatic > Get Selected </code>
</p>
<p>
Na terenu se aplikacija koristi vrlo jednostavno:
</p>
<p>
<code>Fill Blank Form</code> ... i nakon jednog ili više unosa ...<code>Send Finalized Form</code>
<p>
Preporučamo da spremljene formulare ne šaljete sa terena, nego od doma odnosno kad se dokopate neke brže i jeftinije WiFi veze!
</p>

<h3>3) INTERAKTIVNA WEB KARTA:</h3>
<p>
Klikni na "Dodaj novu točku".
</p>
<h2>POZIV VLASNICIMA</h2>
<p>
Rubriku "Vodič" uz svaki od lokaliteta predvidjeli smo za besplatnu objavu kontakta vlasnika ili osobe koja od njega ima dopuštenje, a zainteresirana je voditi, odnosno primati posjetitelje na lokalitetu. Podatke pošaljite na <a href="mailto:popis@suhozid.hr">popis@suhozid.hr</a>.
</p>
<p>
<strong>VAŽNO:</strong> Ukoliko se ne slažete da vaša građevina bude javno vidljiva na suhozid.hr, ili želite ispraviti neki podatak, molimo kontaktirajte nas na adresu <a href="mailto:vlasnik@suhozid.hr">vlasnik@suhozid.hr</a>!
</p>
<h2>POŠTOVANJE ZA LJUDE I KAMEN</h2>
<p><strong>
Suhozida i građevina koje ovdje popisujemo i divimo im se ne bi bilo bez mukotrpnih briga za svoja imanja. Zato voditelji otvorenog javnog popisa Suhozid.hr na zajedničkom nastojanju i poštovanju za ovu baštinu žele okupiti i vlasnike i entuzijaste, i nasljednike i namjernike, i graditelje i usputnike. Ove stotine tisuća kilometara suhozida i tisuće građevina danas ne predstavljaju samo kulturno lice krajolika i svojeg naroda već i lica svojih vlasnika. Zato poštujmo vlasništvo zbog kojeg je ova baština uopće nastala i respektirajmo vlasnike od kojih se ne da naći ni boljih vodiča. Također, obratite pozornost na vlastito zdravlje i sigurnost od ozljeda prilikom obilaska krajolika.
</strong></p>
<p><strong>
Projekt Suhozid.hr ne može odgovarati za eventualnu štetu nastalu neovlaštenim ulaskom na privatni posjed iz razloga posjećivanja ili unosa novih lokaliteta u popis, kao i za eventualne ozljede nastale prilikom posjeta suhozidnim lokalitetima.</strong></p>



<h2>PODRŠKA</h2>

<p>Projekt su podržali Geodetski, Arhitektonski i Agronomski fakultet u
Zagrebu, Etnološki odsjek Sveučilišta u Zadru i Konzervatorski odjel u
Splitu, a preliminarna istraživanja su financirali Studentski zbor
Sveučilišta u Zagrebu i Zaklada HAZU.</p>
<p>
<img width=110 src="{% static 'logos/UNIZG.gif' %}">
<img width=110 src="{% static 'logos/gf_logo.png' %}">
<img width=110 src="{% static 'logos/af_logo.gif' %}">
<img width=110 src="{% static 'logos/AGRO_logo.gif' %}">

<img width=110 src="{% static 'logos/szzzg.jpg' %}">
<img width=110 src="{% static 'logos/UNIZD.jpg' %}">
<img width=110 src="{% static 'logos/mkulture.jpg' %}">
<img width=110 src="{% static 'logos/HAZU.gif' %}">
</p>

        </div>
    </div>

{% compressed_js 'contrib' %}

{% endblock %}