{% load compressed %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Otvoreni javni popis hrvatskih suhozida</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Suhozid.hr je otvoreni javni popis hrvatske suhozidne baštine.">
    <meta name="author" content="Filip Šrajer;Jadran Kale; Dražen Odobašić">
    <meta name="keywords" content="ppgis;dry stone wall;suhozid">

    {% compressed_css 'contrib' %}
    {% compressed_css 'application' %}
    <style>

    </style>
    {% block extra_head %}
    {% endblock%}
</head>

<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Suhozid.hr</a>
                <div class="nav-collapse collapse">
                    {% block navigation %}
                    <ul class="nav">
                        <li id="search-on-map" class="active">
                            <a href="#"><i class="icon-search icon-white"></i> Pretraži kartu</a>
                        </li>
                        <li class="divider"></li>
                        <li id="add-new-point">
                            <a href="#"><i class="icon-plus-sign icon-white"></i> Dodaj novu točku</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/o_projektu">O projektu i kako se uključiti</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/kontakt">Kontakt</a>
                        </li>
                    </ul>
                    {% endblock %}
                    <ul class="nav pull-right">
                        {% if user.is_authenticated %}
                        <li>
                            <div class="btn-group">
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    {{ user.username }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a id="my_drywall" href="{% url 'my_drywall' %}"> Moj suhozid</a>
                                    </li>
                                    <li>
                                        <a id="edit_profile" href="{% url 'profile_page' %}"> Uredi profil</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a id="logout" href="{% url 'logout_user' %}"> Odjava</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <div class="btn-group">
                                <a class="btn btn-primary" id="login" href="{% url 'login_user' %}">Prijava</a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% block content %}
{% endblock %}
</body>
</html>