{% extends "base.html"%}
{% load compressed %}

    {% block navigation %}
    <ul class="nav">
        <li id="search-on-map">
            <a href="/"><i class="icon-search icon-white"></i> Pretraži kartu</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/o_projektu">O projektu i kako se uključiti</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/kontakt" class="active">Kontakt</a>
        </li>
    </ul>
    {% endblock %}

{% block content %}
    <div class="container">
    <div class="row-fluid">
        <h2>Prijavi se koristeći:</h2>

        <h3><a rel="nofollow" href="{% url 'social:begin' 'facebook' %}">Facebook</a></h3>
        <h3><a rel="nofollow" href="{% url 'social:begin' 'google-oauth2' %}">Google</a></h3>
        <h3><a rel="nofollow" href="{% url 'social:begin' 'twitter' %}">Twitter</a></h3>
        <h3><a rel="nofollow" id="browserid" href="#">Persona</a></h3>
    </div>
    </div>

    {% compressed_js 'contrib' %}

    <script src="https://login.persona.org/include.js"></script>

    <!-- Define a form to send the POST data -->
    <form id='personaform' method="post" action="{% url 'social:complete' 'persona' %}">
        <input type="hidden" name="assertion" value="" />
    </form>

    <!-- Setup click handler that retieves BrowserID assertion code and sends
        POST data -->
    <script type="text/javascript">
        $(function () {
            $('#browserid').click(function (e) {
                e.preventDefault();
                var self = $(this);

                navigator.id.get(function (assertion) {
                    if (assertion) {
                        $('#personaform')
                                .find('input[type=hidden]')
                                    .attr('value', assertion)
                                    .end()
                                .submit();
                    } else {
                        alert('Some error occurred');
                    }
                });
            });
        });
    </script>

{% endblock %}
