{% extends "base.html"%}
{% load compressed %}
{% load crispy_forms_tags %}

{% block navigation %}
    <ul class="nav">
        <li id="search-on-map">
            <a href="/"><i class="icon-search icon-white"></i> Pretraži kartu</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/o_projektu">O projektu i kako se uključiti</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/kontakt" class="active">Kontakt</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

<div id="share-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="share-modal-label" aria-hidden="true">
    <div class="modal-body" id="{{ id }}">
        <p>Kopirajte link ukoliko želite podijeliti ovaj lokalitet s drugima.</p>
        <input id="social-url" class="input-block-level" type="text" onclick="this.select();">
        <a class="btn btn-success twitter" type="text" target="_blank">Share on Twitter</a>
        <a class="btn btn-info facebook" type="text" target="_blank">Share on Facebook</a>
        <a class="btn btn-primary google" type="text" target="_blank">Share on Google+</a>
        <hr>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <a class="btn" href="/#show/{{ id }}" id="show-on-map">Prikaži na karti</a>
        <ul class="nav pull-right">
            <div class="btn-group">
                <a class="btn btn-info" href="#share-modal" data-toggle="modal">Share</a>
            </div>
            {% if user.is_authenticated %}
            <div class="btn-group">
                <a class="btn btn-warning" id="editlocality" href="{% url 'localityedit' id %}">Uredi</a>
            </div>
            {% else %}
            <div class="btn-group">
                <a class="btn disabled" id="editlocality" href="{% url 'localityedit' id %}">Uredi</a>
            </div>
            {% endif %}
        </ul>
    </div>
    <div class="row-fluid">
    <h4>{{ title }}</h4>

    <div id="carousel{{ id }}" class="leftbottom-margin pull-right carousel slide" style="width: 640px;" data-interval="">
    <div class="carousel-inner">
        {% for foto in images %}
        {% if forloop.first %}
            <div class="active item">
        {% else %}
            <div class="item">
        {% endif %}
            <a target="_blank" href="/media/{{ foto }}"><img class="img-rounded" alt="{{ foto }}" src="/media/640/{{ foto }}"/></a>
            </div>
        {% endfor %}
    </div>
    <!-- Carousel nav -->
    {% if images|length > 1 %}
        <a class="carousel-control left" href="#carousel{{ id }}" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#carousel{{ id }}" data-slide="next">&rsaquo;</a>
    {% endif %}
    </div>
    <div class="justify-text">
        {{ main_text|safe }}
    </div>
    <dl>
    <dt>Autor unosa</dt>
        <dd>{{ author }}</dd>
    <dt>Koordinata WGS84</dt>
        <dd>{{ coordinate }}</dd>
    <dt>Datum unosa</dt>
        <dd>{{ created }}</dd>
    <dt>Izvor podataka</dt>
        <dd>{{ source }}</dd>
    </dl>
    </div>
</div>


    {% compressed_js 'contrib' %}
    {% compressed_js 'social' %}

{% endblock %}