{% extends "base.html"%}
{% load compressed %}
{% load crispy_forms_tags %}

{% block extra_head %}
{% compressed_css 'markitup' %}
{% endblock %}

{% block navigation %}
    <ul class="nav">
        <li id="search-on-map">
            <a href="/"><i class="icon-search icon-white"></i> Pretraži kartu</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/o_projektu">O projektu i kako se uključiti</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/kontakt" class="active">Kontakt</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

{% compressed_js 'contrib' %}
{% compressed_js 'markitup' %}

<div class="container">

<form method="post">
{{ form.media }}
    <div class="row-fluid">
        <a class="btn btn-mini" target="_blank" href="http://daringfireball.net/projects/markdown/dingus">Markdown Sintaksa uređivanja</a>
        <div class="pull-right">
                <a class="btn btn-info" id="abortlocalityedit" href="{% url 'localitydetail' object.pk %}">Odustani</a>
                <button type="submit" class="btn btn-warning" id="savelocality">Spremi</button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span7">
        <h2>Lokalitet: {{ object.pk }}</h2>
        {% crispy form %}

        </div>

        <div class="span5">
        <h2>Originalni podaci</h2>
        <dl>
        {% for key, value in object.get_original_data %}
        <dt> {{key}} </dt>
        <dd> {{value}} </dd>
        {% endfor %}
        </dl>
        </div>
    </div>

</form>
</div>


{% endblock %}